<%= form_for(@wine) do |f| %>
  <%= f.label :name %> <%= f.text_field :name, autofocus: true %><br />
  <%= f.label :year %> <%= f.text_field :year, autofocus: true %><br />
  <%= f.label :winery %> <%= f.text_field :winery, autofocus: true %><br />
  <%= f.label :country %> <%= f.text_field :country, autofocus: true %><br />
  <%= f.label :varietal %> <%= f.text_field :varietal, autofoucs: true %><br />

  <p>
  	<%= f.submit %>
  	<%= link_to 'Cancel', wines_path %>
  </p>

<% end %>