<h1>Editing <%=@wine.name %></h1>
<%= form_for(@wine) do |f| %>
	<%= f.label :name %> <%= f.text_field :name, autofocus: true %> <br />
<% end %>

<h1>Creat a New Wine</h1>
<%= form_for(@wine) do |f| %>
	<%= f.label :name %> <%= f.text_field :name, autofocus: true %><br />
	<%= f.label :year %> <%= f.text_field :year, autofucus: true %><br />
	<%= f.label :winery %> <%= f.text_field :winery, autofocus: true %><br />
	<%= f.label :country %> <%= f.text_field :country, autofocus: true %><br />
	<%= f.label :varietal %> <%= f.text_field :varietal, autofocus: true %><br />
	<p><%= f.submit %></p>
<% end %>