<h1>Wines</h1>
<%= page_entries_info @wines %>
<ol>
<% @wines.each do |wine| %>
  <li><%= link_to(wine.name, wine) %> from <%= wine.winery %> type <%= wine.varietal %></li>
<% end %>
</ol>
<%= paginate @wines %>